langchain == 0.2.5
langchain-chroma == 0.1.1
langchain-community == 0.2.9
langchain-openai == 0.1.8
langserve[all] == 0.2.2
langchainhub == 0.1.20
langgraph == 0.1.2
langchain-google-community == 1.0.6
google-api-python-client == 2.134.0
beautifulsoup4 == 4.12.3
pydantic == 1.10.13
